//Override default variables before the import below
$body-bg: #282c34;
$searchBarInput-dark:#273349;

.search-bar {
  width: 60%;
}

.search-icon {
  position: absolute;
  top: 18px;
  left: 300px;
}

.search-bar-input {
  padding-left: 40px;
}

.search-bar-input-background-dark {
  background-color: $searchBarInput-dark;
  border: 1px solid #464F5F;
}

//Import bootstrap and it's default variables
@import '~bootstrap/scss/bootstrap.scss';