/* @tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    background: #1A1A1A;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: #1A1A1A;
}

@media (prefers-color-scheme: dark) {
  :root {
      background: #1A1A1A;
    --foreground-rgb: #1A1A1A;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: #1A1A1A; */
/* } */
